[phases.setup]
cmds = ["curl -fsSL https://deb.nodesource.com/setup_16.x | bash -"]

[phases.install]
cmds = ["npm install"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "node dist/server.js"